﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100 flexCenter banner1">
    <div class="app-width flexStart w-100 h-100" style="padding: 0 60px;">
        <div class="d-flex flex-column justify-content-center w-100 h-100">
            <h1 class="title1">SunShine</h1>
            <h2 class="title2 fw-normal mw-50" style="max-width: 45%">Giải pháp quản trị và phát triển nhân sự toàn diện</h2>
            <a href="/OAuth/Register" class="text-decoration-none"><button class="btn-large-rouded btn-hover" style="margin-top: 40px">Đăng ký Demo</button></a>
        </div>
    </div>
</div>

<div class="w-100 flexCenter banner2">
    <div class="app-width flexStart flex-fill h-100">
        <div class="d-flex flex-column justify-content-center w-100 h-100">
            <h2 class="title2-dark fw-normal" style="max-width: 60%; max-height: 60%">Tối Ưu Hóa Tài Nguyên Nhân Sự và Hiệu Suất Của Nhân Viên, Môi Trường Làm Việc Kích Thích Sáng Tạo và Phát Triển...</h2>
        </div>
        <div class="banner-image">
            <img alt="banner.png" src="~/assets//images/banner.png" class="image" />
        </div>
    </div>
</div>

<div class="flexCenter w-100 banner3 position-relative">
    <div class="banner3__box-left-bg"></div>
    <div class="banner3__box-right-bg"></div>
    <div class="position-absolute flexBetween" style="width: 50%">
        <div class="flexStart flex-column">
            <h4 class="title4">Quản trị và phát triển nguồn nhân lực một cách hiệu quả hơn</h4>
            <p class="description">Giải pháp quản trị nhân sự toàn diện và mạnh mẽ nhất cho doanh nghiệp của bạn</p>
        </div>
        <div class="flexStart" style="margin-left: 30px">
            <a href="/OAuth/Register" class="text-decoration-none"><button class="btn-transparent btn-outline">Đăng ký Demo</button></a>
        </div>
    </div>
</div>
