@model Taikhoan
@{
	ViewBag.Title = "Register Page";
	Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/css/LoginStyle.css" />
<div class="app">
	<div class="container">
		<div class="login-form">
			<h1>Register</h1>
			<p>How to I get started lorem ipsum dolor at?</p>
			<form method="POST" asp-action="Register" asp-controller="OAuth" style="display: flex; flex-direction: column;">
				<input type="text" name="TenDangNhap" asp-for="TenDangNhap" placeholder=" Enter Username" autocomplete="username" required>
				<span asp-validation-for="TenDangNhap" class="text-danger"></span>
				<br>
				<div style="position: relative; width: 100%;">
					<input id="password" type="password" name="MatKhau" asp-for="MatKhau" placeholder="Enter Password" style="width: 100%;" autocomplete="password" required />
					<span asp-validation-for="MatKhau" class="text-danger"></span>
					<img id="toggle-password" src="~/images/eye-password-hide.svg" class="position-absolute top-50 start-100 translate-middle"
						 style="cursor: pointer; position: absolute; top: 22px; right: 13px; transform: translateY(-50%); width: 17px;">
				</div>
				<div class="remember-me">
					<div class="d-flex align-items-center justify-content-center gap-2">
					</div>
					<a href="/OAuth/Login"><span>Login now.</span></a>
				</div>
				<br>
				<button type="submit" class="btn-login">Register</button>
			</form>
			<div class="login-with-others">
				<p><strong>Login</strong> with Others:</p>
				<a class="google-btn" href="#" target="_blank">
					<img src="~/images/google-logo.png" alt="Google">
					<span style="margin-top: 5px;">Login with <strong>Google</strong></span>
				</a>
				<br>
				<a  class="facebook-btn" href="#">
					<img src="~/images/facebook-logo.png" alt="Facebook">
					<span style="margin-top: 5px;">Login with <strong>Facebook</strong></span>
				</a>
			</div>
		</div>
		<div class="images-display">
			<img src="~/images/Rectangle_mini.png" style="width: 260px; position: absolute; top: 70px; right: 80px">
			<img src="~/images/Rectangle.png" style="position: absolute; top: 0; left: 0; z-index: -1;">
			<img src="~/images/WomenWithTablet.png" style="width: 500px; position: absolute; top: 65px; right: 10px">
			<img src="~/images/Thunder.png" style="width: 55px; position: absolute; top: 300px; right: 310px">
			<p style="position: absolute; text-align: left; color: white; font-weight: bold; font-size: 25px; top: 85px; left: 90px">
				Very good<br>works are<br>waiting for<br>you Login<br>Now!!!
			</p>
			<img src="~/images/IconHTMs.png" style="width: 150px; position: absolute; top: 430px; right: 130px">
		</div>
	</div>
</div>
<script src="~/js/myjavascript.js" asp-append-version="true"></script>