﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="~/assets/images/logo.png" />
    <title>@ViewData["Title"] - HRMManagement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <header class="w-100 header">
        <div class="app-width flexBetween w-100 h-100" style="padding: 0 60px;">
            <div class="col-3 logo">
                <a href="#" class="d-flex justify-content-left align-items-center pointer-event underline-none">
                    <img alt="Logo" src="~/assets/images/logo.png" />
                    <h4 class="text-white m-lg-1 ml-1">SunShine</h4>
                </a>
            </div>

            <div class="col-9 d-flex justify-content-between align-items-center gap-1">
                <nav class="navbar navbar-expand-lg m-lg-auto">
                    <div class="container-fluid">
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 transition">
                                <li class="nav-item dropdown pointer-event" style="padding: 0 10px">
                                    <a class="nav-link dropdown-toggle text-hover text-white"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Sản phẩm
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-paragraph" href="#">Tài nguyên</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Tin tức</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Khách hàng</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Webinar & videos</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown pointer-event" style="padding: 0 10px">
                                    <a class="nav-link dropdown-toggle text-hover text-white"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Giải pháp
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-paragraph" href="#">Tài nguyên</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Tin tức</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Khách hàng</a></li>
                                        <li><a class="dropdown-item text-paragraph" href="#">Webinar & videos</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item" style="padding: 0 10px">
                                    <a class="nav-link text-white text-hover" href="#"><span>Khách hàng</span></a>
                                </li>
                                <li class="nav-item" style="padding: 0 10px">
                                    <a class="nav-link text-white text-hover" href="#"><span>Công ty</span></a>
                                </li>
                                <li id="nav-btn" class="nav-item dropdown pointer-event" style="padding: 0 10px">
                                    <a class="nav-link dropdown-toggle text-hover text-white"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Tài nguyên
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item text-paragraph" href="#"><span>Tài nguyên</span></a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-paragraph" href="#"><span>Tin tức</span></a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-paragraph" href="#"><span>Khách hàng</span></a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-paragraph" href="#"><span>Webinar & videos</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="d-flex gap-1 w-auto h-auto">
                    <a href="/OAuth/Login"><button class="btn-transparent text-">Đăng nhập</button></a>
                    <a href="/OAuth/Register" class="text-decoration-none">
                        <button class="btn-small-rounded btn-hover">Đăng ký</button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="w-100 h-auto">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer flexCenter">
        <div class="w-100 app-width h-100 d-grid row">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 flex flex-column gap-4 mb-4">
                    <h4 class="title4-dart fw-bold w-100">
                        Liên hệ
                    </h4>
                    <h4 class="title4-dart w-100 text-uppercase">
                        CÔNG TY CỔ PHẦN SUNSHINE ENTERPRISE
                    </h4>
                    <div class="d-flex flex-row gap-5 w-100">
                        <ul class="pt-2">
                            <li class="py-2">Email:</li>
                            <li class="py-2">Hotline:</li>
                            <li class="py-2">Trụ sở TP.HCM:</li>
                            <li class="py-2">Trụ sở Hà Nội:</li>
                        </ul>
                        <ul class="pt-2">
                            <li class="py-2">sunshinehrm@gmail.com</li>
                            <li class="py-2">0123456789</li>
                            <li class="py-2">ABC, XYZ, khu CNC, TP. Thủ Đức, TP. HCM</li>
                            <li class="py-2">ABC, XYZ, Mộc Châu, TP. Từ Liêm, TP. HaNoi</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 flex flex-column gap-2 mb-4">
                    <h4 class="title4-dart fw-bold w-100 text-uppercase">
                        Công ty
                    </h4>
                    <ul class="pt-2">
                        <li class="py-2">Giới thiệu</li>
                        <li class="py-2">Khách hàng</li>
                        <li class="py-2">Điều khoản</li>
                        <li class="py-2">Liên hệ</li>
                        <li class="py-2">Privacy Policy</li>
                        <li class="py-2">Tuyển dụng</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <h4 class="title4-dart fw-bold w-100 text-uppercase">
                        Sản phẩm
                    </h4>
                    <ul class="pt-2">
                        <li class="py-2">Sunshine e-hiring</li>
                        <li class="py-2">Sunshine Wework</li>
                        <li class="py-2">Sunshine Workflow</li>
                        <li class="py-2">Sunshine Inside</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <h4 class="title4-dart fw-bold w-100 text-uppercase">
                        Liên hệ
                    </h4>
                    <ul class="pt-2">
                        <li class="py-2">Facebook</li>
                        <li class="py-2">Linkedin</li>
                        <li class="py-2">Instagram</li>
                        <li class="py-2">Youtube</li>
                        <li class="py-2">Zalo</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/myjavascript.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>