@model HRMManagement.Models.Nhanvien
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Thêm Nhân Viên";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/updatefont.css">
    <link rel="stylesheet" href="~/css/updatebootstrap.min.css">
    <link rel="stylesheet" href="~/css/updatestyle.css">
    <title>Thêm Nhân Viên Mới</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head> 
<div>
    <div class="">
        <div class="">
            <div class="row align-items-stretch justify-content-center no-gutters">
                <div class="col-md-12 p-4">
                    <div class="form h-100 contact-wrap p-5">
                        <h3 class="text-center">Thêm Nhân Viên</h3>
                        <form asp-controller="Info" asp-action="Add" method="post" id="addForm" name="addForm">
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Họ Đệm *</label>
                                    <input type="text" class="form-control" name="Hodem" id="hodem" placeholder="Ho Dem" required>
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Tên *</label>
                                    <input type="text" class="form-control" name="Ten" id="ten" placeholder="Ten" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Ma NV *</label>
                                    <input type="text" class="form-control" name="Id" id="Id" placeholder="MaNV" required>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">CCCD *</label>
                                    <input type="text" class="form-control" name="CCCD" id="cccd" placeholder="CCCD" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Giới Tính *</label>
                                    <select class="custom-select" id="gioitinh" name="Gioitinh" placeholder="Gioi Tinh" required>
                                        <option value="" disabled selected>Gioi Tinh</option>
                                        <option value="true">Nam</option>
                                        <option value="false">Nữ</option>
                                    </select>
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Ngày Sinh *</label>
                                    <input type="date" class="form-control" id="ngaysinh" name="Ngaysinh" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Chức Vụ *</label>
                                    <select class="custom-select" id="chucvu" name="ChucVu" placeholder="Chuc Vu" asp-items="ViewBag.chucvus" required>Chuc Vu</select>
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Phòng Ban *</label>
                                    <select class="custom-select" id="phongban" name="PhongBan" placeholder="Phong Ban" asp-items="ViewBag.phongbans" required>Phong Ban</select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="" class="col-form-label">Vị trí công việc *</label>
                                    <select class="custom-select" id="vitricv" name="ViTricv" placeholder="Vi Tri" asp-items="ViewBag.vitricvs" required>Vi Tri Cong Viec</select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Số Điện Thoại *</label>
                                    <input type="text" class="form-control" name="SDT" id="sdt" placeholder="Dien Thoai" required>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="" class="col-form-label">Email *</label>
                                    <input type="email" class="form-control" name="Email" id="email" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="" class="col-form-label">Địa Chỉ *</label>
                                    <input type="text" class="form-control" name="DiaChi" id="diachi" placeholder="Dia Chi" required>
                                </div>
                            </div>

                            <br>

                            <div class="row justify-content-center">
                                <div>
                                    <button type="submit" class="btn btn-primary" style="width: 100%; font-size: large;">Thêm</button>
                                </div>
                            </div>
                        </form>
                        <div id="form-message-warning mt-4"></div>
                        <div id="form-message-success">Xong</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>